
// Bootstrap Variables
$icon-font-path: '../../node_modules/bootstrap-sass/assets/fonts/bootstrap/';

// Import Bootstrap
@import '../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap';


*,
*::before,
*::after {
  box-sizing: border-box;
}

img {
  max-width: 100%;
}

body {
    // background-color: #eee;
    font-family: 'Muli', sans-serif;
  ul {
    list-style: none;
  }
  a {
    text-decoration: none;
  }
}

.email-us {
    float: left;
    letter-spacing: 2px;
    vertical-align: middle;
    padding-top: 2%;
    padding-bottom: 2.5%;
}

.email-us > li {
    display: inline-block;
    padding-right: 20px;
    border-bottom: 1px solid black;
}

.email-us > li:last-child {
    padding-right: 0px;
}

.email-us > li > a {
    color: black;
}

.list-inline {
    float: right;
    vertical-align: middle;
    letter-spacing: 2px;
    padding-right: 2%;
    padding-top: 3%;
}

.list-inline > li {
    display: inline-block;
    padding-left: 11px;
    padding-right: 11px;
    font-size: 20px;
}

.list-inline > li > a {
    font-family: 'Muli', sans-serif;
    font-weight: bold;
    transition: 0.3s ease;
    padding: 5px;
    color: #090a72;
}

.list-inline> li > a:hover {
    border-top: 4px solid #0B095E;
    border-bottom: 4px solid #13562F;
    background-color: #fff;
    border-radius: 8px;
    text-decoration: none;
    box-shadow: 0 0 10px rgba(0,0,0,0.35);
}

h1 {
    margin-top: 0;
    padding-top: 20px;
}

.cd-fixed-bg {
	min-height: 100%;
	background-size: cover;
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-position: center center;
}

.cd-fixed-bg.cd-bg-1 {
  background-image: url("../images/forkliftandpeople.png");
  background-size: 100%;
  margin-left: -15px;
  margin-right: -15px;
}

.cd-fixed-bg.cd-bg-5.header-img.supporting-header {
    background-size: 100%;
    min-height: 750px;
}

.img-overlay.supporting-overlay {
    height: 350px;
}

.img-overlay.supporting-overlay-video {
    width: 570px;
    height: 300px;
    margin-left: 55px;
}

.img-overlay {
    content:"";
    position: absolute;
    height:520px;
    top:115px;
    left:0.05px;
    bottom:0px;
    right:0.05px;
    background-color: rgba(40, 52, 88, 0.57);
    z-index: 10;
    transition: all 0.5s ease-out;
}

.two {
    height: 280px;
    left: 0px;
    right: 0px;
    background-color: rgb(14, 14, 100);
}

.cd-fixed-bg.cd-bg-2 {
  background-color: #fff;
  // padding: 10px;
  // margin-bottom: 50px;
}

.cd-fixed-bg.cd-bg-3 {
  background-image: url("../imgages/Picture2.png");
}

.cd-fixed-bg.cd-bg-4 {
    min-height: 50%;
    background-size: 100%;
    background-color: #155131;
    margin: 0 -15px 0 -15px;
}

.cd-fixed-bg.cd-bg-5 {
  background-image: url("../images/Tape-blur-3-shade-50-66.png");
  background-size: 100%;
  // color: #fff;
  address {
    //   color:#fff;
  }
}

// .cd-fixed-bg.cd-bg-5.footer.footer-filler p > a > strong {
//     color: #fff !important;
// }

.negative-margin {
    margin-left: -15px;
    margin-right: -15px;
}

.cd-fixed-bg.cd-bg-bulk {
    background-image: url("../images/drybulk-blur-10-shade-50-66.jpg");
    background-size: 100%;
}

.cd-fixed-bg.cd-bg-assembly {
    background-image: url("../images/lightindustrial-blur-5-shade-50.png");
    background-size: 100%;
}

.cd-fixed-bg.cd-bg-bulk.header-img.supporting-header {
    background-size: 100%;
    min-height: 550px;
}

.cd-scrolling-bg {
    margin: 0;
    box-shadow: 0 0 25px rgba(0,0,0,0.35);
	min-height: 100%;
    opacity: 0.5;
    background-image: url("http://static1.squarespace.com/static/54a74bc3e4b0e845493a0a9a/54a78797e4b00bf98ff0d388/5520d607e4b0562b8523eef7/?format=1000w");
}

.cd-scrolling-sm {
    margin: 0;
    // box-shadow: 0 25px 94px 25px rgba(0,0,0,0.35);
	min-height: 70%;
    background-image: url("http://static1.squarespace.com/static/54a74bc3e4b0e845493a0a9a/54a78797e4b00bf98ff0d388/5520d607e4b0562b8523eef7/?format=1000w");
    opacity: 0.9;
    padding-top: 140px;
    background-repeat: no-repeat;
	background-position: center center;
    background-size: cover;
}

.extra-letter-space {
    letter-spacing: 1px;
    text-transform: none;
    font-size: 18px;
    line-height: 35px;
}

.bulk-header {
    left: 9% !important;
    padding-top: 160px !important;
}

.supporting-right-column {
    padding: 45px 40px 0px 40px !important;
}

a address {
    color: black;
    text-decoration: none;
}

#head {
  width: 100%;
  height: 115px;
  float: left;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 998;
  background-color: #fff;
  box-shadow: 0 0 25px rgba(0,0,0,0.35);
}

.holder {
    position: relative;
    -ms-zoom: 1;
    zoom: 1;
}

.logoHolder {
    height: 105px;
    float: left;
    text-align: left;
    background-position: left top;
    background-repeat: no-repeat;
    a {
        display: block;
        width: 100%;
        height: 105px;
        padding: 0 0 0 2.75em;
        float: left;
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
    img {
        max-width: 100%;
        padding-top: 15px;
    }
  }
}

.white {
    color: #fff !important;
}

.product-button {
    /* min-height: 100%; */
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    // border-right: 5px solid transparent;
    // border-left: 5px solid transparent;
    // border-bottom: 5px solid transparent;
    // border-top: 10px solid transparent;
}

// .speedway-is {
//     width: 100%;
//     transition: background-color 1s;
//     transition: color 1s;
//
// }
//
// .speedway-is:hover {
//     background-color: black;
//     opacity: 0.9;
//     color: #fff;
// }

.explore {
    padding-top: 110px;
    padding-bottom: 100px;
}

.middle-explore {
    margin-bottom: 20px;
}

.product-button:first-child {
border-left: none;
}

.product-button:last-child {
border-right: none;
}

.product-expand {
    line-height: 20px;
    // transition: margin-top 1s;
    margin-top: 20px;
    span > h1 {
        padding-top: 0;
    }
}

.product-expand:hover {
    line-height: 20px;
    // margin-top: 0;
    color: black;
    font-weight: bolder;
}

.col-xs-12.col-sm-6.col-lg-4.product-button.sr-t {
    background-image: url("../images/Tape-blur-3-shade-40.png");
    transition: background-image 1s;
    height: 250px;
    text-align: center;
    padding-top: 2em;
    img {
        width: 45px;
    }
}

.col-xs-12.col-sm-6.col-lg-4.product-button.sr-t span {
    transition: 1s;
}

center {
    padding-top: 70px;
    padding-bottom: 60px;
    margin: 0 -15px 0 -15px;
    background-color: #155131;
}

#onhover {
  display: none;
  transition: display 1s;
}
#surround:hover span[id="initial"] {
  display: none;
  transition: display 1s;
}
#surround:hover span[id="onhover"] {
  display: block;
  transition: display 1s;
}

center > h1 {
    font-family: 'Muli', sans-serif;
    font-size: 40px;
    letter-spacing: 7px;
    font-weight: bolder;
    // margin-top: 105px;
    // margin-bottom: 120px;
    color: #f5f5f5;
}

.col-xs-12.col-sm-6.col-lg-4.product-button.sr-t:hover {
    background-image: url("../images/Tape-blur-3-white-40.png");
    img {
        src:"../images/tape-icon.png";
    }
}

.col-xs-12.col-sm-6.col-lg-4.product-button.sr-o {
    background-image: url("../images/hands-blur-4-shade-40.jpg");
    transition: background-image 1s;
    height: 250px;
    text-align: center;
    padding-top: 2em;
}

.col-xs-12.col-sm-6.col-lg-4.product-button.sr-o:hover {
    background-image: url("../images/hands-blur-4-white-40.jpg");
}

.col-xs-12.col-sm-6.col-lg-4.product-button.sr-b {
    background-image: url("../images/drybulk-blur-10-shade-50.jpg");
    transition: background-image 1s;
    height: 250px;
    text-align: center;
    padding-top: 2em;
}

.col-xs-12.col-sm-6.col-lg-4.product-button.sr-b:hover {
    background-image: url("../images/drybulk-blur-10-white-50.jpg");
}

.col-xs-12.col-sm-6.col-lg-4.product-button.sr-i {
    background-image: url("../images/lightindustrial-blur-5-shade-50.png");
    transition: background-image 1s;
    height: 250px;
    text-align: center;
    padding-top: 2em;
}

.col-xs-12.col-sm-6.col-lg-4.product-button.sr-i:hover {
    background-image: url("../images/lightindustrial-blur-5-white-50.png");
}

.col-xs-12.col-sm-6.col-lg-4.product-button.sr-c {
    background-image: url("../images/copackperson-blur-10-cropped-shade-50.jpg");
    transition: background-image 1s;
    height: 250px;
    text-align: center;
    padding-top: 2em;
    background-position: center bottom;
    zoom: -15;
}

.col-xs-12.col-sm-6.col-lg-4.product-button.sr-c:hover {
    background-image: url("../images/copackperson-blur-10-cropped-white-50.jpg");
}

.col-xs-12.col-sm-6.col-lg-4.product-button.sr-3 {
    background-image: url("../images/3pl-person-blur-10-shade-50.jpg");
    transition: background-image 1s;
    height: 250px;
    text-align: center;
    padding-top: 2em;
}

.col-xs-12.col-sm-6.col-lg-4.product-button.sr-3:hover {
    background-image: url("../images/3pl-person-blur-10-white-50.jpg");
}
// .sr-o a{
//    opacity: 0;
//    overflow:visible;
//    border:100px solid rgba(0,0,0,0.7);
//    box-sizing:border-box;
//    transition: all 0.4s ease-in-out;
// }
// .sr-o h1 {
//     position:relative;
//    top:-10px; /* Center the link */
//    opacity: 0;
//    transition: opacity 0.5s 0s ease-in-out;
// }
//
// .sr-o h1:hover {
//    opacity:1;
//    transition-delay: 0.3s;
//
// }

// .sr-o a:hover {
//        opacity: 1;
//        border:100px solid rgba(0,0,0,0.7);
//     }



a.product-button {
  border: 2px solid white;
  background-color: #fff;
  padding: 17px 40px;
  width: 100%;
  margin: auto;
  text-align: center;
  text-decoration: none;
  color: #fff;
}
//
// .product-button img {
//     width: 100px;
//     height: 100px;
//     margin: auto 55px;
// }
//
// .product-button img:hover {
//     border-radius: 5px;
//     background-color: #eee;
//     // box-shadow: 0 0 25px 5px rgba(0,0,0,0.35);
// }
//
// .col-xs-12.col-md-2 {
//     background-color: #eee;
//     padding: 1% 2%;
//     margin: auto 19px;
//     text-align: center;
//     border-radius: 22px;
// }

.product-header {
    font-weight: bolder;
    font-size: 150%;
}

.supporting-center-h1 {
    margin-top: 55px;
    margin-bottom: 10px;
}

.product-description {
    font-size: 12px;
}

.sup-image {
    border-radius: 207px !important;
    border: 10px solid transparent;
    height: 420px;
    padding-left: 45px;
    padding-right: 45px;
}

.co-sup-image {
    border-radius: 155px !important;
    border: 10px solid transparent;
    height: 420px;
    padding-left: 0px;
    padding-right: 0px;
}

.supporting-product-description {
    font-size: 20px;
    letter-spacing: 2.5px;
    line-height: 35px;
}

.supporting-left-column {
    padding: 35px 60px 0px 60px !important;
}

.supporting-assembly-column {
    padding: 35px 60px 0px 60px !important;
    height: 200px;
}

.supporting-co-column {
    padding: 25px 20px 0px 20px !important;
    height: 500px;
    text-align: center;
}

.product-description-header {
    color: #f5f5f5;
    font-size: 30px;
    z-index: 100;
    padding-top: 190px;
    text-transform: none;
    letter-spacing: 2px;
    font-weight: 300;
    margin-bottom: 45px;
}

.glyphicon-bold {
    font-size: 30px;
    background: #gray;
    padding: 5px;
    border-radius: 10px;
}

// .products {
//   padding-left: 5%;
//   padding-right: 5%;
//   padding-top: 2%;
//   padding-bottom: 2%;
//   // margin-left: 5%;
//   margin-right: 5%;
//   margin-top: 0px;
//   margin-bottom: 0px;
//   border: 2px solid black;
//   width: 100%;
//   height: auto;
//   background: #fff;
//   box-shadow: 0 0 5px rgba(0,0,0,0.35);
// }

iframe {
    height: 295px;
    width: 585px;
}

.speedway-is {
    border: 2px solid #fff;
    border-radius: 55px;
    margin: 0 -15px 0 -15px;
    padding-bottom: 25px;
    background-color: #155131;
    color: #fff;
    width: 500px;
}

h1.speedway-is:hover {
    border: 2px solid #9097a9;
    color: #9097a9;
}

.bottom-tag {
    padding-top: 20px;
    padding-left: 45px;
    padding-right:45px;
    font-weight: 200;
    text-transform: none;
    text-align: left;
    line-height: 43px;
}

.call-button    {
    padding-top: 25px;
    button {
        padding: 20px;
        background-color: #e0e0e0;
        font-size: 25px;
    }
}

.call-button button:hover {
    background-color: #151515;
}

.action {
    height: 165px;
    text-align: center;
    background-color: #e0e0e0;
    color: black;
    font-size: 28px;
    padding: 20px;
}

.footer-background {
    clear: both;
    background: url("../images/backdrop.jpg") !important;
    width: 100%;
    background-size: cover;
	background-attachment: fixed;
	background-repeat: no-repeat;
    color: #fff !important;
    height: 450px;
    padding-top: 50px;
}

.footer {
    height: auto;
    // padding-top: 2em;
    margin-left: -15px;
    margin-right: -15px;
    bottom: 0;
    font-size: 13px;
    // background-color: #ddd;
    // height: auto;
    // margin-top: 2em;
    // right: 0;
    // left: 0;
    // bottom: 0;
    // font-size: 13px;
    // border-radius: 55px;
}

.assembly-header {
    left: 25% !important;
}

.pl-header {
    left: 44% !important;
}

.col-xs-12.col-sm-12.col-md-6.col-lg-6 {
    // background-color: #7b0e0e;
    color: #fff;
    padding-top: 20px;
    padding-bottom: 35px;
}

.col-md-2 {
    margin: 0 auto;
    border-radius: 55px;
}

.col-md-4 {
    padding: 0;
    text-align: center;
}

.middle-border {
    border: 10px solid #151515;
    border-radius: 42px;

}

.dark {
    background-color: #151515;
    padding: 55px;
    text-align: center;
}

.col-md-4 img {
    display: inline-block;
    height: 280px;
}

.col-md-6 {
    // padding: 0 30px 12px;
    // margin-bottom: 2em;
}

.footer-filler > p > a > strong {
    color: black;
}

.footer-filler > p > a > strong:hover {
    color: #030865;
}

.footer-filler {
    font-family: 'Muli', sans-serif;
    line-height: 25px;
    // padding-top: 15px;
    width: 20%;
    display: inline-block;
    float: left;
    padding-top: 3px;
    padding-left: 30px;
    margin-bottom: -55px;
    p{
        // padding-top: 10px;
        // text-indent: 20px;
        line-height: 30px;
        text-align: left;
        font-size: 30px;
        padding: 25px;
    }
}

// @media (min-width: 992px){
//     .col-md-6 {
//         width: 50%;
//         float: left;
//         position: relative;
//         min-height: 1px;
//     }
// }

.call {
    background-color: transparent;
    width: 20%;
    padding: 5px;
    a{
        letter-spacing: 1.5px;
    }
}

.call:hover {
    background-color: #fff;
    border-radius: 55px;
    box-shadow: 0 0 25px rgba(0,0,0,0.35);
}

.second-row {
    font-size: 80px;
}

.tape-center {
    padding-top: 0px;
    padding-bottom: 0px;
    background-color: transparent;
}

.header-h1.supporting-h1 {
    left: 40%;
    padding-top: 170px;
}

.co-header{
    left: 24% !important;
}

.bold{
    font-weight: bold;
    letter-spacing: 1px;
}

.left-10 {
    padding-left: 10px;
}

.assembly-descript {
    height: 300px !important;
}

.supporting-description {
    padding: 40px 0px 40px 0px;
    height: 550px;
    background-color: #155131;
}

.supporting-center {
    padding-top: 0px;
    padding-bottom: 60px;
}

.supporting-center-assembly {
    padding-top: 0px !important;
    padding-bottom: 0px !important;
}

.center-content {
    text-align: center;
    padding: 70px;
    letter-spacing: 2px;
    font-size: 50px;
    font-style: italic;
}

.header-h1  {
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    text-shadow: 3px 3px #110a66;
    color: #f5f5f5;
    padding-top: 295px;
    font-size: 80px;
    font-weight: bolder;
    z-index: 100;
    position: absolute;
    top:0;
    left:175px;
}

.tape-header  {
    left:40%;
    padding-top: 210px;
}

.mission {
    padding-top: 110px;
    padding-bottom: 10px;
}

.cr {
    padding-top: 15px;
    padding-bottom: 10px;
}

.mission-header {
    left: 20%;
    text-align: center;
    letter-spacing: 5px;
    font-family: 'Open Sans', sans-serif;
    // text-shadow: 3px 3px #0D0762;
    color: #f5f5f5;
    // padding-top: 10%;
    font-size: 80px;
    // background-color: rgba(40, 52, 88, 0.57);
    background-color: #155131;
    transition: all 0.5s ease-out;
    width: 100%;
    height: 200px;
    margin-left: -15px;
    margin-right: -15px;
    h1 {
        font-size: 70px;
        margin-bottom: 0px;
        padding-top: 0px;
        font-weight: bold;
    }
}

button {
    border: none;
    background-color: #eee;
}

.address {
    float: right;
    /* right: 5.5em; */
    font-size: 30px;
    margin-top: 5px;
    text-align: left;
    // padding-right: 35px;
}

a address:hover{
    color: #030865 !important;
}

.container-fluid {
  opacity: 0.9;
  -webkit-background-size: cover;
  background-attachment: fixed;
  background-size: cover;
  // background-image: url("http://www.goglo.net/images/fp-rs-images-376x200/Warehouse_and_Cargo_Insurance.jpg");
  height: 635px;
  color: black;
  text-transform: uppercase;
  padding-top: 115px;
  a {
    text-decoration: none;
    color: #fff;
    font-family: 'Muli', sans-serif;
    letter-spacing: 2px;
  }
}

.form-control {
    border: 1px solid #696262
}

.btn-default {
    border: 1px solid #696262;
}

.btn-default:hover {
    background-color: #477054;
    border: 1px solid #597e65;
    color: #fff;
}

.default {
    background: #fff;
    height: 870px;
}

.title {
  text-align: center;
  margin-top: 20px;
  h2 {
    font-size: 55px;
    font-weight: bolder;
  }
  h3 {
    font-size: 45px;
  }
}

.paragraph {
  text-align: center;
  background: transparent;
  // background-color: #eee;
  margin-right: 0px;
  padding-bottom: 25px;
  h2 {
  font-size: 36px;
  color: black;
  }
  p {
    font-size: 18px;
    color: gray;
    width: 625px;
    margin: auto;
    text-align: center;
    padding-bottom: 10px;
  }
  a {
    padding-top: 5px;
    font-size: 16px;
    text-decoration: none;
    color: black;
  }
}

.li_description {
    font-weight: 400;
    text-align: left;
    font-size: 18px;
}

.carousel-inner .item img {
  height: 140%;
}

.slide {
  margin-top: 6px;
}

.slide1 {
  height: 400px;

}

.slide2 {
  height: 400px;
}

.slide3 {
  height: 400px;
}

.slide4 {
  height: 400px;
}

.picbox1 {
  padding-right: 0;
  padding-left: 0;
  img {
    border-top: 6px solid #fff;
    border-bottom: 3px solid #fff;
    border-right: 3px solid #fff;
    border-left: 3px solid #fff;

  }
}

.picbox2 {
  padding-right: 0;
  padding-left: 0;

  img {
    border-top: 6px solid #fff;
    border-bottom: 3px solid #fff;
    border-right: 3px solid #fff;
    border-left: 3px solid #fff;
    width: 100%;

    video {
        border-top: 6px solid #fff;
        border-bottom: 3px solid #fff;
        border-right: 3px solid #fff;
        border-left: 3px solid #fff;

    }
  }
}

video {
    border: 6px solid #fff;
    display: inline-block;
    vertical-align: baseline;
    height: 424px;
    margin-left: 30px;
    margin-bottom: -17px;
}

.image-boxes {
    margin-top: 20px;
  img {
  height: 424px;
  width: 100%;
  }
}

.InputName {
    width: 18em;
    border-radius: 5px;
    float: left;
}

.InputCompany {
    width: 17em;
    border-radius: 5px;
    float: left;
    margin-left: 2em;
}

.InputEmail {
    width: 23em;
    border-radius: 5px;
    float: left;
}

.InputPhone {
    width: 175px;
    border-radius: 5px;
    float: left;
    margin-left: 2em;
}

.InputMessage {
    width: 531px;
    border-radius: 5px;
    margin-bottom: 20px;
    clear: both;
}
label.InputMessage {
    margin-bottom: 0;
}

.submit-button {
    clear: both;
}

label {
    margin: 0;
    padding-top: 3px;
    clear: both;
    font-size: 85%;
    line-height: 160%;
    font-weight: 900;
    color: #1D3333;
    display: block;
    letter-spacing: 2px;
}

label.InputCompany {
    margin-left: 30px;
}

label.InputPhone {
    margin-left: 30px;
}

form > div {
  position: relative;
}

#contact {
    clear: both;
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center center;
    padding-top: 10px;
    padding-bottom: 20px;
    color: #fff;
    padding-left: 65px;
    label {
        color: #fff;
        text-align: left
    }
}

#contact h4 {
    font-size: 33px;
    margin-top: 0;
}

@-webkit-keyframes fadeIn { from { opacity:0; opacity: 1\9; /* IE9 only */ } to { opacity:1; } }
@-moz-keyframes fadeIn { from { opacity:0; opacity: 1\9; /* IE9 only */ } to { opacity:1; } }
@keyframes fadeIn { from { opacity:0; opacity: 1\9; /* IE9 only */ } to { opacity:1; } }

.fade-in {
	opacity:0;  /* make things invisible upon start */
	-webkit-animation:fadeIn ease-in 1;  /* call our keyframe named fadeIn, use animattion ease-in and repeat it only 1 time */
	-moz-animation:fadeIn ease-in 1;
	animation:fadeIn ease-in 1;

	-webkit-animation-fill-mode:forwards;  /* this makes sure that after animation is done we remain at the last keyframe value (opacity: 1)*/
	-moz-animation-fill-mode:forwards;
	animation-fill-mode:forwards;

	-webkit-animation-duration:1s;
	-moz-animation-duration:1s;
	animation-duration:1s;
}

.fade-in.sup-context {
-webkit-animation-delay: 0.7s;
-moz-animation-delay: 0.7s;
animation-delay: 0.7s;
}

.footer-wrapper {
    height: 345px;
}

.copyright {
    clear: both;
    position: relative;
    bottom: 0;
    margin-top: 7px;
    width: 100%;
    letter-spacing: 1px;
    // font-family: 'Homemade Apple', cursive;
    // color: #fff;
    // text-shadow: 1px 1px #fff;
    // font-weight: bolder;
    a{
        font-family: 'Homemade Apple', cursive;
        text-transform: lowercase;
        letter-spacing: 2px;
        color: #fff;
        font-weight: bolder;
        // text-shadow: 1px 1px #fff;

    }
}

.cr-second {
    color: #fff;
    font-weight: 700;
    // color: #fff;
    // text-shadow: 1px 1px black;

    a{
        color: #fff;
        font-weight: 700;
        // color: #fff;
        // text-shadow: 1px 1px black;

    }
}

// @media (max-width: 1119px) {
//     .list-inline > li {
//         font-size: 17px;
//     }
//     .list-inline {
//         padding-top: 4%;
//     }
//     .list-inline > li > a {
//         font-size: 20px;
//         padding: 0;
//     }
//     .logoHolder a img {
//         max-width: 85%;
//     }
//     .header-h1 {
//         left: 100px;
//     }
//     p.product-description {
//         padding-left: 10px;
//         padding-right: 10px;
//         font-size: 14px;
//     }
//     .InputName {
//         width: 100%;
//     }
//     .InputCompany {
//         width: 100%;
//         margin-left: 0;
//     }
//     .InputEmail {
//         width: 100%;
//     }
//     .InputPhone {
//         width: 100%;
//         margin-left: 0;
//     }
//     .InputMessage {
//         width: 100%;
//     }
//     #contact label {
//         margin: 0;
//         font-size: 14px;
//     }
//     .footer-background {
//         height: 550px;
//     }
//     iframe {
//         height: 481px;
//     }
// }
//
// @media (max-width: 1046px) {
//     .list-inline > li {
//         font-size: 14px;
//     }
//     .list-inline {
//         padding-top: 4%;
//     }
//
//     .logoHolder a img {
//         max-width: 75%;
//     }
// }
//
// @media (max-width: 975px) {
//     .list-inline {
//         visibility: hidden;
//     }
//
//     .list-inline > li:last-child {
//         visibility: visible;
//         font-size: 20px;
//         position: absolute;
//         top: 4.1em;
//         left: 38%;
//     }
//
//     .logoHolder a img {
//         max-width: 100%;
//         margin-left: 85%;
//     }
// }
//
// @media (max-width: 775px) {
//     .list-inline {
//         visibility: hidden;
//     }
//
//     .list-inline > li:last-child {
//         visibility: visible;
//         font-size: 20px;
//         position: absolute;
//         top: 4.1em;
//         left: 38%;
//     }
//
//     .logoHolder a img {
//         max-width: 100%;
//         margin-left: 85%;
//     }
// }


// /* iPhone 4 and 4S (portrait and landscape) ----------- */
// @media only screen and (min-device-width : 320px) and (max-device-width : 480px){
// @media only screen and (min-device-width: 320px) and (max-device-width: 480px) and (-webkit-min-device-pixel-ratio: 2){
// @media (max-width: 768px) {
//     #head {
//         max-width: 100%;
//         width:100%;
//         // transform:translateX(-50%);
//     }
//
//     .logoHolder a {
//         padding: 0 0 0 0.4em;
//     }
//
//     .InputName {
//         width: 100%;
//     }
//
//     center {
//         height: 0px;
//     }
//
//     center > h1 {
//         visibility: hidden;
//         margin-top: 0px;
//         margin-bottom: 0px;
//     }
//
//     .cd-fixed-bg.cd-bg-1.header-img {
//         visibility: hidden;
//         min-height: 0%;
//     }
//
//     .logoHolder a img {
//         max-width: 100%;
//         runleft: 65%;
//     }
//
//     .list-inline {
//         visibility: hidden;
//     }
//
//     .list-inline > li:last-child {
//         visibility: visible;
//         font-size: 20px;
//         position: absolute;
//         top: 4em;
//         left: 38%;
//     }
//
//     .container-fluid {
//         padding-top: 0;
//     }
//
//     .col-xs-12.col-sm-6.col-lg-4.product-button.sr-t {
//     margin-top: 115px;
//     }
//
//     // .header-h1 {
//     //     padding-top: 100px;
//     // }
//
//     #contact {
//         padding-left: 20px;
//         margin-left: 0;
//         margin-top: 0;
//     }
//
//     .cd-fixed-bg.cd-bg-4 {
//         visibility: hidden;
//         min-height: 0%;
//         background-size: 0%;
//     }
//
//     .speedway-is {
//         margin: 0px;
//     }
//
//     .footer-filler p {
//         line-height: 30px;
//         width: 290px;
//         padding-left: 30px;
//     }
//
//     .footer-filler {
//         margin-bottom: 0;
//         padding-left: 5px;
//     }
//
//     .InputMessage {
//         width: 100%;
//     }
//
//     label.InputMessage {
//         margin-bottom: 0;
//     }
//
//     .InputCompany {
//         width: 100%;
//         margin-left: 0;
//     }
//
//     .InputEmail {
//         width: 100%;
//     }
//
//     .InputPhone {
//         width: 100%;
//         margin-left: 0;
//     }
//
//     #contact label {
//         margin-left: 0px;
//     }
//
//     .address {
//         width: 295px;
//         // right: 2.5em;
//         margin-top: 5px;
//         text-align: center;
//         padding-left: 40px;
//     }
//
//     h4 {
//         margin-left: 24%;
//     }
// }
//
// // /* iPhone 5 and 5S (portrait and landscape) ----------- */
// // @media only screen and (min-device-width: 320px) and (max-device-width: 568px) and (-webkit-min-device-pixel-ratio: 2) {
// //
// // }
//
// /* Desktops and laptops ----------- */
// @media only screen  and (min-width : 1224px) {
// /* Styles */
// }
//
// /* Large screens ----------- */
// @media only screen  and (min-width : 1824px) {
// /* Styles */
// }
